<!doctype html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>

<body>
<!-- nav -->
<header id="masthead">
  <div class="container">
    <a href="/" id="logo">Hello User</a>
    <nav>
      <a href="#">About me</a>
      <a href="/contact">Childcare</a>
      <a href="/reviewride">Rides</a>
      <a href="/contact">Contact</a>
      <a href="/reviewride">Reviews</a>
    </nav>
  </div>
</header>


</nav>


 <!--  nav -->




  <div id="main-container" class="container">
    <section class="main-section">
      <h1>Welcome</h1>

      <!-- https://brightfutures.aap.org/PublishingImages/BF_family.png -->

     <!-- the menu options -->
     <img src="">
              <div class="card-deck">
                
                    <div class="card">                   
                      <div class="card-body">
                        <h5 class="card-title"><i>Card title</i></h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <button>Request a ride</button>
                      </div>
                    </div>
                    <div class="card">
                      
                      <div class="card-body">
                        <h5 class="card-title"><i>Card title</i></h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <button>Request Childcare</button>
                      </div>
                    </div>
                  </div>

    </section>

  </div>
  


  <footer>
    <div class="container">
      Copyright &copy; 
    </div>
  </footer>
</body>

</html>


